@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h2 class="display-4">Hello</h2>
        <p>FaceBlur app allows you to blur faces on images on webpages.</p>
        <br /><br /><br />
        <table class="table table-bordered">
            <tr>
                <th scope="col">
                    <form method="post" action="/Home/WebpageWithBlurredFaces">
                        <label for="urlInput">Please enter the url of a webpage where you'd like to blur faces on images.</label>
                        <br />
                        <i>e.g. https://www.goethe.de/en/uun/org/pra.html</i>
                        <br /><br />
                        <input type="text" class="form-control" id="urlInput" placeholder="Enter URL" name="url" />
                        <br />
                        <input type="submit" class="btn btn-primary" value="BLUR FACES ON IMAGES" />
                    </form>
                </th>
            </tr>
        </table>

    </div>
