
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h2 class="display-4">Hello</h2>
    <p>FaceBlur app allows you to blur faces on photographs.</p>

    <img src="@ViewData["fileLocation"]" alt="Uploaded Image" width="50%" />

    <hr width="60%" />
</div>